<% const toThaiNumber=(num)=> {
  return String(num).replace(/\d/g, d => "๐๑๒๓๔๕๖๗๘๙"[d]);
  };
  %>
  <div class="content">
    <table>
      <tr>
        <td>
          <div class="d-flex justify-end py-md">(บ.๑๔)</div>
          <div class="d-flex justify-center">
            <img src="<%= path %>assets/buu_logo_thai.jpg" alt="logo-buu" width="80" height="80" />
          </div>
          <div class="d-flex justify-center">
            <div class="title-container font-20 py-md font-20">
              <span class="font-medium">ใบสำคัญรับเงิน</span>
            </div>
          </div>
          <div class="d-flex justify-end py-sm">
            วันที่..................................................
          </div>
          <div class="px-md py-sm" style="text-decoration-style: dotted;">
            ข้าพเจ้าชื่อ (เขียนชื่อ-นามสกุล
            ตัวบรรจง) <%= body.user.name ?? '.................................................................' %>
          </div>
          <div class="d-flex" style="width: 90%;">
            <div style="flex:1" style="text-decoration-style: dotted;">
              อยู่บ้านเลขที่ <%= body.user.houseNumber ?? '...................' %>
            </div>
            <div style="flex:1" style="text-decoration-style: dotted;">
              ถนน <%= body.user.street ?? '.....................' %>
            </div>

            <div style="flex:1" style="text-decoration-style: dotted;">
              ตำบล/แขวง <%= body.user.subDistrict ?? '.....................................' %>
            </div>
          </div>
          <div class="py-sm d-flex" style="width: 90%;" style="text-decoration-style: dotted;">
            <div style="flex:1">
              อำเภอ/เขต <%= body.user.district ?? '..........................' %>
            </div>
            <div style="flex:1" style="text-decoration-style: dotted;">
              จังหวัด <%= body.user.province ?? '................................' %>
            </div>
            <div style="flex:1" style="text-decoration-style: dotted;">
              รหัสไปรษณีย์ <%= body.user.postalCode ?? '................' %>
            </div>
          </div>
          <div>
            ได้รับเงินจากมหาวิทยาลัยบูรพา ดังรายการต่อไปนี้
          </div>
        </td>
      </tr>
      <tr>
        <td style="
          padding: 0px !important;
          margin: 0px;
          border-right: 1px solid black;
        ">
          <table style="padding: 0px !important; margin: 0px">
            <tr>
              <td style="
                border: 0px solid black;
                border-right: 1px solid black;
                width: 60%;
              ">
                <div class="d-flex justify-center">รายการ</div>
              </td>
              <td style="
                border: 0px solid black;
                width: 40%;
                padding: 0px;
              ">
                <div class="d-flex justify-center" style="border-bottom: 1px solid black">
                  <div class="py-sm">จำนวนเงิน</div>
                </div>
                <div class="d-flex justify-center">
                  <div class="col py-sm" style="border-right: 1px solid black; text-align: center">
                    บาท
                  </div>
                  <div class="col py-sm" style="text-align: center">
                    สตางค์
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <% if (body.receiptInfo && Array.isArray(body.receiptInfo)) { %>
        <% for (var i=0; i < body.receiptInfo.length; i++) { %>
          <tr>
            <td style="
              padding: 0px !important;
              margin: 0px;
              border: 0 !important;
              border-left: 1px solid black !important;
              border-right: 1px solid black !important;
            ">
              <table style="padding: 0px !important; margin: 0px">
                <tr>
                  <td style="
                    border: 0px solid black;
                    border-right: 1px solid black;
                    width: 60%;
                    border-bottom:0;
                  ">
                    <div class="d-flex">
                      <%= body.receiptInfo[i].categoryName %>
                    </div>
                  </td>
                  <td style="
                    border: 0px solid black;
                    width: 40%;
                    padding: 0px;
                  ">
                    <div class="d-flex justify-center">
                      <div class="col py-sm" style="border-right: 1px solid black; text-align: center">
                        <%=
                          toThaiNumber(Number(Math.floor(body.receiptInfo[i].fundSumRequest)).toLocaleString('en-US'));
                          %>
                      </div>
                      <div class="col py-sm" style="text-align: center">
                        <%= toThaiNumber(Number(Math.round((body.receiptInfo[i].fundSumRequest -
                          Math.floor(body.receiptInfo[i].fundSumRequest)) * 100)).toLocaleString('en-US')) %>
                      </div>
                    </div>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <% } %>
            <% }%>
              <tr>
                <td style="
          padding: 0px !important;
          margin: 0px;
          border-right: 1px solid black;
        ">
                  <table style="padding: 0px !important; margin: 0px">
                    <tr>
                      <td style="
                border: 0px solid black;
                border-right: 1px solid black;
                width: 60%;
              ">
                        <div class="d-flex justify-end">รวมเงิน</div>
                      </td>
                      <td style="
                border: 0px solid black;
                width: 40%;
                padding: 0px;
              ">
                        <div class="d-flex justify-center">
                          <div class="col py-sm" style="border-right: 1px solid black; text-align: center">
                            <%= toThaiNumber(Number(Math.floor(body.total)).toLocaleString('en-US')); %>
                          </div>
                          <div class="col py-sm" style="text-align: center">
                            <%= toThaiNumber(Number(Math.round((body.total - Math.floor(body.total)) *
                              100)).toLocaleString('en-US')) %>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="d-flex justify-center py-md">
                    <div class="row d-flex justify-center">
                      <div class="col-12 py-sm d-flex justify-center" style="text-decoration-style: dotted;">
                        จำนวนเงิน (ตัวอักษร) <%= body.total ?bahttext(Number(body.total))
                          : " .........................................................." %>
                      </div>
                      <div class="col-12 py-sm d-flex justify-center">
                        (ลงชื่อ)....................................................................................(ผู้รับเงิน)
                      </div>
                      <div class="col-12 py-sm d-flex justify-center">
                        (ลงชื่อ)....................................................................................(ผู้จ่ายเงิน)
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
    </table>
    <div class="d-flex py-md pl-md">
      <span style="text-decoration: underline;"><span class="font-semi-bold">หมายเหตุ</span></span>
      <span
        class="pl-sm">การใช้ใบสำคัญรับเงินเป็นไปตามระเบียบมหาวิทยาลัยบูรพาว่าด้วยการจ่ายเงินและวิธีการจ่ายเงิน</span>
    </div>
  </div>